$neutral1: #949b96;
$neutral2: #1f1f24;
$neutral3: #343a40;
$neutral4: #343a40;
$accent1: #694F5D;

// #1f1f24
// #1f1f24
@font-face {
    font-family: quickLight;
    src: url(../fonts/Quicksand-Light.ttf);
}

@font-face {
    font-family: quickRegular;
    src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: quickMedium;
    src: url(../fonts/Quicksand-Medium.ttf);
}

@font-face {
    font-family: quickBold;
    src: url(../fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: quickSemi;
    src: url(../fonts/Quicksand-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0 0 0 0;
}

body {
    background-color: black;
    padding-bottom: 100px;
}


header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding: 0 5px;
    align-items: center;

    .logo {
        height: 75px;
    }

    ul {
        display: flex;
        align-items: center;

        li {
            list-style: none;
            margin: 0 5px;
            transition: all 0.5s ease 0s;

            img {
                width: 35px;
            }
        }

        li:hover {
            transform: translateY(7px) scale(1.2);
        }
    }

    ;
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 60px;
    z-index: 100;

    ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: #070707f7;
        align-content: center;
        align-items: center;

        li {
            list-style: none;
            transition: all 0.1s ease 0s;

            a {
                display: flex;
                align-content: center;
                align-items: center;
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-family: quickLight;
                font-size: 22px;

                img {
                    height: 16px;
                    margin-right: 5px;
                }

                .active {
                    filter: brightness(0) saturate(100%) invert(5%) sepia(3%) saturate(5674%) hue-rotate(201deg) brightness(95%) contrast(82%);
                }
            }

            a:hover {
                filter: brightness(0) saturate(100%) invert(15%) sepia(97%) saturate(3724%) hue-rotate(295deg) brightness(90%) contrast(114%);
            }


        }
    }
}

@media only screen and (max-width: 800px) {
    .displaynone {
        display: none;
    }

    .navicon {
        height: 25px;
    }

    nav a {
        // width: 50px 50px;
    }
}

.landing {
    z-index: 100;
    display: flex;
    align-items: center;

    h1{
        font-family:quickLight;
        color: white;
        font-size: 60px;
        span {
            color:#BA01AA;
        }
    }

    article {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
        width: 95vw;
    }

    p {
        margin-top: 10vh;
        font-family: quickLight;
        color: white;
        font-size: 25px;
        padding: 0 20px;
        font-weight: lighter;
        max-width: 700px;
    }

    button {
        font-family: quickMedium;
        color: #BA01AA;
        font-size: 20px;
        font-weight: bolder;
        background-color: transparent;
        border-color: $accent1;
        border-radius: 10px;
        border-style: solid;
        border-color: #BA01AA;
        border-width: 3px;
        width: 125px;
        height: 50px;
        margin-top: 10vh;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        z-index: 100;
    }

    button:hover {
        outline: 0;
        color: black;
        background-color: #BA01AA;
        transform: translateY(-6px);
    }



}


// Styling for about me text/img section
.aboutme {
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 100px;

        .aboutimg {
            width: 400px;
            border-radius: 50%;
        }

        h1 {
            margin-top: 100px;
            font-family: quickLight;
            font-size: 60px;
            color: white;
            text-align: center;
            font-weight: lighter;
            span {
                color:#BA01AA;
            }
        }

        p {
            margin-top: 20px;
            font-family: quickLight;
            font-size: 16px;
            color: white;
            padding: 25px 25px 50px 25px;
        }
        @media only screen and (min-width: 1200px) {
    h1 {
        margin-top: 50px;
    }
   
    p {
        width: 60%;
    }
}
    }

}



// Styling for job experience section about me page
.experience {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center stretch;
    width: 90%;
    justify-content: space-between;
}

.titlestyle {
    width: 100%;

}

.card {
    background-color: #1f1f24;
    width: 85%;
    border-radius: 5px;
    font-family: quickLight;
    padding: 30px;
    margin: 10px auto;

    .cardtitle {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            font-size: 25px;
            color:#BA01AA;
        }
    }

    p {
        margin-top: 25px;
        font-size: 16px;
        color: white;
    }

    form {
        display: flex;
        justify-content: center;
    }

    button {
        width: 100%;
        font-family: quickLight;
        color: #BA01AA;
        font-weight: bolder;
        font-size: 18px;
        background-color: transparent;
        border-radius: 10px;
        border-style: solid;
        border-color: #BA01AA;
        width: 100px;
        height: 30px;
        margin-top: 20px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        z-index: 3;
        -webkit-backface-visibility: hidden;
    }

    button:hover {
        outline: 0;
        color: #1f1f24;
        background-color: #BA01AA;
        transform: translateY(-6px);
    }

}
.arrow {
    width: 15px;
    height: 15px;
    border: 2px solid #32557f;
    border-left: 0;
    border-top: 0;
  }
@media only screen and (min-width: 800px) {
    .card {
        width: 55%;
    }
}

@media only screen and (min-width: 1200px) {
    .background {
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
    }

    .card {
        width: 27%;
    }

}

// styling for fun facts sections on about me page
.funfacts {
    display: flex;
    flex-direction: column;
    .spotify,
    .books {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;


        h4 {
            font-family: quickLight;
            font-size: 18px;
            color:#BA01AA;
            padding:0 0 10px 0;
            -webkit-transform: translate3D(0, 0, 0);
        }

        .smallcard {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            margin: 10px 0;
            background-color: #1f1f24;
            border-radius: 5px;
            align-items: center;
            width: 100%;
            -webkit-transform: translate3D(0, 0, 0);
        }

        p {
            color: #b0b2b3;
            font-size: 14px;
            font-family: quickLight;
        }

        a {
            display: flex;
            text-decoration: none;
            width: 80%;
            transition: 0.3s ease;
        }
        a:hover {
            transform: scale(1.1);
            img {
            filter: brightness(0) saturate(100%) invert(15%) sepia(97%) saturate(3724%) hue-rotate(295deg) brightness(90%) contrast(114%);
            }
        }

        @media only screen and (min-width: 800px) {
            a {
                width: 60%;
            }
        }
        @media only screen and (min-width: 1200px) {
            .spotify, .books {
                width: 50%;
            }
            h2 {
                width: 80%;
            }
            a{
                width:60%;
            }
            .smallcard {
                width: 100%;
                height: 60px;
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    .funfacts {
        flex-direction: row-reverse;
    }
}

// Styling for border lines/h2s on about me page
h2 {
    position: relative;
    display: inline-block;
    width: 95%;
    font-family: quickLight;
    font-size: 40px;
    color:white;
    padding: 50px 0;
    margin-left: 20px;
    margin-right: 0;
}
.line {
    display: flex;
    align-items: flex-start;
    text-align: left;

    &:after {
        content: '';
        flex-grow: 1;
        height: 1px;
        background:white;
        min-width: 20px;
        margin:auto;
        padding-left: 15px;
    }

    &:after {
        margin-left: 10px;
    }
}

.line2 {
    display: flex;
    align-items: flex-start;
    margin-right: 20px;

    &:before {
        content: '';
        flex-grow: 1;
        height: 1px;
        background: white;
        min-width: 20px;
        margin: auto;
    }

    &:before {
        margin-right: 15px;
    }
}

.projects {
    h1 {
        margin-top: 100px;
        font-family: quickLight;
        font-size: 60px;
        color: white;
        text-align: center;
        font-weight: lighter;
        span {
            color:#BA01AA;
        }
    }
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 100px auto;
  }
  .col {
    margin: 16px 16px 8px 16px;
  }
  img {
      border-radius: 10px;
      transition: 0.3s ease ;
  }

  .col {
    position: relative;
  }
  
  .backgroundimg {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 99%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #1f1f24;
    border-radius: 10px;
    h3 {
        color:white;
        font-family: quickLight;
        font-size: 20px;
        margin: 25% 0 15% 0 ;
        text-align: center;
    }
    p {
        font-family: quickLight;
        color: white;
        width: 90%;
        margin-bottom: 8%;
    }
    img {
        width: 225px;
        margin-bottom: 8%;
    }
    button {
        font-family: quickLight;
        color: #BA01AA;
        font-weight: bolder;
        font-size: 18px;
        background-color: transparent;
        border-radius: 10px;
        border-style: solid;
        border-color: #BA01AA;
        width: 150px;
        height: 30px;
        margin-top: 20px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        z-index: 3;
        -webkit-backface-visibility: hidden;
    }

    button:hover, button:active {
        outline: 0;
        color: #1f1f24;
        background-color: #BA01AA;
        transform: translateY(-6px);
    }
  }
  
  .col:hover .overlay  {
    opacity: 1;
    transform: scale(1.075);

  }
  .col:hover {
      .backgroundimg {
        transform: scale(1.05);
      }
  }

  @media only screen and (max-width: 500px) {
    .grid {
        width: 90%;
    }
    p {
        font-size: 15px;
    }
    }
}








// Background styling and animation //

$rot1: random(360);
$rot2: random(500);
$rot3: random(800);
$rot4: random(600);
$rot5: random(500);

$line1: random(10)+10;
$line2: random(10)+10;
$line3: random(10)+10;

$start1: random(500);
$start2: random(500);
$start3: random(10)+5;
$start4: random(10)+5;
$start5:random(10)+5;
$rotation: random(360);
$duration1: random(200)+300;
$duration2: random(200)+400;
$duration3: random(200)+200;
$duration4: random(200)+500;
$duration5: random(200)+100;



.banner {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 0;
    margin: 0;
}





.container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: container1;
    animation-duration: $duration1+S;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.container2 {

    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: container2;
    animation-duration: $duration2+s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.container3 {

    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: container3;
    animation-duration: $duration3+s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.container4 {

    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: container4;
    animation-duration: $duration4+s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.container5 {

    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: container5;
    animation-duration: $duration5+s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes container1 {
    0% {
        transform: translate(-30vw, 10vh) rotate($rot1+deg)
    }

    20% {
        transform: translate(20vw, 40vh) rotate($rot2+deg)
    }

    45% {
        transform: translate(-20vw, 20vh) rotate($rot3+deg)
    }

    70% {
        transform: translate(-40vw, 40vh) rotate($rot4+deg)
    }

    100% {
        transform: translate(30vw, 10vh) rotate($rot5+deg)
    }
}

@keyframes container2 {
    0% {
        transform: translate(35vw, 25vh) rotate($rot5+deg);
    }

    25% {
        transform: translate(20vw, 10vh) rotate($rot4+deg);
    }

    50% {
        transform: translate(10vw, 35vh) rotate($rot3+deg);
    }

    75% {
        transform: translate(-10vw, 50vh) rotate($rot2+deg);
    }

    100% {
        transform: translate(20vw, 20vh)rotate($rot1+deg);
    }
}

@keyframes container3 {
    0% {
        transform: translate(40vw, 70vh) rotate($rot3+deg);
    }

    30% {
        transform: translate(50vw, 60vh) rotate($rot3+deg);
    }

    55% {
        transform: translate(20vw, 80vh) rotate($rot4+deg);
    }

    80% {
        transform: translate(30vw, 65vh) rotate($rot2+deg);
    }

    100% {
        transform: translate(10vw, 50vh) rotate($rot5+deg);
    }
}

@keyframes container4 {
    0% {
        transform: translate(-40vw, 90vh) rotate($rot2+deg);
    }

    25% {
        transform: translate(-30vw, 60vh) rotate($rot4+deg);
    }

    50% {
        transform: translate(-20vw, 40vh) rotate($rot4+deg);
    }

    75% {
        transform: translate(-25vw, 30vh) rotate($rot1+deg);
    }

    100% {
        transform: translate(-10vw, 90vh) rotate($rot3+deg);
    }
}

@keyframes container5 {
    0% {
        transform: translate(-20vw, 40vh) rotate($rot4+deg);
    }

    25% {
        transform: translate(-40vw, 50vh) rotate($rot1+deg);
    }

    50% {
        transform: translate(-10vw, 80vh) rotate($rot2+deg);
    }

    75% {
        transform: translate(-30vw, 60vh) rotate($rot3+deg);
    }

    100% {
        transform: translate(-10vw, 10vh) rotate($rot4+deg);
    }
}


@keyframes line1 {
    0% {
        transform: translateX(22.5vw);
    }

    100% {
        transform: translateX(-22.5vw);
    }
}


@keyframes ball1 {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1.8, 1.8);
    }
}

@keyframes ball2 {
    0% {
        transform: scale(1, 1)
    }

    100% {
        transform: scale(1.8, 1.8);
    }
}

.bigline {
    width: 45vw;
    height: 5px;
    background-color: #87878850;
}

.circleone {
    width: 10px;
    height: 10px;
    background-color: #878788;
    border-radius: 50%;
    animation-name: ball1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.circletwo {
    width: 10px;
    height: 10px;
    background-color: #878788;
    border-radius: 50%;
    animation-name: ball2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.lineone {
    position: absolute;
    height: 10px;
    width: 5px;
    border-radius: 40px;
    background-color: #878788;
    animation-name: line1;
    animation-duration: $line1+s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.linetwo {
    position: absolute;
    height: 10px;
    width: 5px;
    border-radius: 40px;
    background-color: #878788;
    animation-name: line1;
    animation-duration: $line2+s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.linethree {
    position: absolute;
    height: 10px;
    width: 5px;
    border-radius: 40px;
    background-color: #878788;
    animation-name: line1;
    animation-duration: $line3+s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}