$neutral1: #949b96;
$neutral2: #1f1f24;
$neutral3: #343a40;
$neutral4: #343a40;
$accent1: #694F5D;


@font-face {
    font-family: primaryFont;
    src: url(../fonts/Quicksand.ttf);
  }


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $neutral2;
}


header {
    display: flex;   
    justify-content: space-between;
    height: 75px;
    padding: 0 5px;
    align-items: center;
    
    .logo {
        height: 75px;
    }
    ul {
        display: flex;
        align-items: center;
        li{
            list-style: none;
            margin: 0 5px;
            transition: all 0.5s ease 0s;
            img {
                width: 35px;
            }
        }
        li:hover {
            transform: translateY(7px) scale(1.2);
        }
    };
}

nav { 
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom:0;
    height: 70px;
    ul {
        display: flex;
        justify-content: space-around;
        width: 99%;
        background-color: #2f2f37f7;
        align-content: center;
        align-items: center;
        margin-bottom: 10px;
        border-radius: 20px;

        li {
            list-style: none;
            transition: all 0.1s ease 0s;
            a {
                display: flex;
                align-content: center;
                align-items: center;
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-family: primaryFont;
                font-size: 20px;
                transition: 0.2s;
                img {
                    height: 16px;
                    margin-right: 5px; 
                }
                .active {
                    filter:  brightness(0) saturate(100%) invert(5%) sepia(3%) saturate(5674%) hue-rotate(201deg) brightness(95%) contrast(82%);
                }
            }
            a:hover {
                filter:  brightness(0) saturate(100%) invert(5%) sepia(3%) saturate(5674%) hue-rotate(201deg) brightness(95%) contrast(82%);
            }

        
        }
    }
}
@media only screen and (max-width: 800px) {
    .displaynone {
        display:none;
    }
    .navicon {
        height: 30px;
    }
    nav a {
        // width: 50px 50px;
    }
}

.landing {
    z-index: 100;
    display: flex;
    align-items: center;
    article {
        margin: auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 90vh;
        width: 95vw;
    }
    h2 {
        text-align: center;
        width: 100%;
        font-family: primaryFont;
        color: white;
        font-size: 35px;
        font-weight: lighter;
    }
    p {
        margin-top: 10vh;
        font-family: primaryFont;
        color: white;
        font-size: 25px;
        padding: 0 20px;
        font-weight: lighter;
        max-width: 700px;
    }
    button {
        font-family: primaryFont;
        color: #5c2966;
        font-size: 20px;
        font-weight: bolder;
        background-color: transparent;
        border-color: $accent1;
        border-radius: 10px;
        border-style: solid;
        border-color: #5c2966;
        border-width: 3px;
        width: 125px;
        height: 50px;
        margin-top: 10vh;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        z-index: 100;
    }
        button:hover {
            outline: 0;
            color: #fff;
            background-color: #5c2966;
            transform: translateY(-6px);
            // box-shadow: 0px 2px 4px white;
          }
    
}

.aboutme {
    article{
    display: flex;
    flex-direction:column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
        .aboutimg {
        width: 350px;
        border-radius: 50%;
        }
        h2 {
        margin-top: 40px;
        font-family: primaryFont;
        font-size: 35px;
        color: white;
        text-align: center;
        font-weight: lighter;
        }
        p {
        margin-top: 20px;
        font-family: primaryFont;
        font-size: 16px;
        color: white;
        padding: 25px;
        }
    }
}












// Background styling and animation //

$rot1: random(360);
$rot2: random(500);
$rot3: random(800);
$rot4: random(600);
$rot5: random(500);

$line1: random(10)+10;
$line2: random(10)+10;
$line3: random(10)+10;

$start1: random(500);
$start2: random(500);
$start3: random(10)+5;
$start4: random(10)+5;
$start5:random(10)+5 ;
$rotation: random(360);
$duration1: random(200)+300;
$duration2: random(200)+400;
$duration3: random(200)+200;
$duration4: random(200)+500;
$duration5: random(200)+100;



.banner{
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height:100%;
    z-index: -1;
    padding:0;
    margin:0;
}





.container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: container1;
    animation-duration: $duration1+S;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

.container2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: container2;
    animation-duration: $duration2+s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

.container3 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: container3;
    animation-duration: $duration3+s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

.container4 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: container4;
    animation-duration: $duration4+s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

.container5 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: container5;
    animation-duration: $duration5+s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

@keyframes container1 {
     0%  {transform: translate(-30vw, 10vh) rotate($rot1+deg)}
    20% {transform: translate(20vw, 40vh) rotate($rot2+deg)}
    45% {transform: translate(-20vw, 20vh) rotate($rot3+deg)}
    70% {transform: translate(-40vw,40vh) rotate($rot4+deg)}
    100% {transform: translate(30vw, 10vh) rotate($rot5+deg)}
}

@keyframes container2 {
    0%   {transform: translate(35vw, 25vh) rotate($rot5+deg);}
    25%  {transform: translate(20vw, 10vh) rotate($rot4+deg);}
    50%  {transform: translate(10vw, 35vh) rotate($rot3+deg);}
    75%  {transform: translate(-10vw, 50vh) rotate($rot2+deg);}
    100% {transform: translate(20vw, 20vh)rotate($rot1+deg);}
}

@keyframes container3 {
    0%   {transform: translate(40vw,70vh) rotate($rot3+deg);}
    30%  {transform: translate(50vw,60vh) rotate($rot3+deg);}
    55%  {transform: translate(20vw,80vh) rotate($rot4+deg);}
    80%  {transform: translate(30vw,65vh) rotate($rot2+deg);}
    100% {transform: translate(10vw,50vh) rotate($rot5+deg);}
}

@keyframes container4 {
    0%   {transform: translate(-40vw,90vh) rotate($rot2+deg);}
    25%  {transform: translate(-30vw,60vh) rotate($rot4+deg);}
    50%  {transform: translate(-20vw,40vh) rotate($rot4+deg);}
    75%  {transform: translate(-25vw,30vh) rotate($rot1+deg);}
    100% {transform: translate(-10vw,90vh) rotate($rot3+deg);}
}

@keyframes container5 {
    0%   {transform: translate(-20vw,40vh) rotate($rot4+deg);}
    25%  {transform: translate(-40vw,50vh) rotate($rot1+deg);}
    50%  {transform: translate(-10vw,80vh) rotate($rot2+deg);}
    75%  {transform: translate(-30vw,60vh) rotate($rot3+deg);}
    100% {transform: translate(-10vw,10vh) rotate($rot4+deg);}
}


@keyframes line1 {
    0%   {transform: translateX(22.5vw);}
    100% {transform: translateX(-22.5vw);}
}


@keyframes ball1{
    0%   {transform: scale(1,1);}
    100% {transform: scale(1.8,1.8);}
}

@keyframes ball2{
    0%   {transform: scale(1,1) }
    100% {transform: scale(1.8,1.8);}
}

.bigline {
    width: 45vw;
    height: 5px;
    background-color: #8291911a;
}

.circleone {
    width: 10px;
    height: 10px;
    background-color: #878788;
    border-radius: 50%;
    animation-name: ball1;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

.circletwo {
    width: 10px;
    height: 10px;
    background-color: #878788;
    border-radius: 50%;
    animation-name: ball2;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
}

.lineone {
    position: absolute;
    height: 10px;
    width: 5px;
    border-radius: 40px;
    background-color: #8787881a;
    animation-name: line1;
    animation-duration: $line1+s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}

.linetwo {
    position: absolute;
    height: 10px;
    width: 5px;
    border-radius: 40px;
    background-color: #8787881a;
    animation-name: line1;
    animation-duration: $line2+s;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
}

.linethree {
    position: absolute;
    height: 10px;
    width: 5px;
    border-radius: 40px;
    background-color: #8291911a;
    animation-name: line1;
    animation-duration: $line3+s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

