@font-face {
  font-family: quickLight;
  src: url(../fonts/Quicksand-Light.ttf); }
@font-face {
  font-family: quickRegular;
  src: url(../fonts/Quicksand-Regular.ttf); }
@font-face {
  font-family: quickMedium;
  src: url(../fonts/Quicksand-Medium.ttf); }
@font-face {
  font-family: quickBold;
  src: url(../fonts/Quicksand-Bold.ttf); }
@font-face {
  font-family: quickSemi;
  src: url(../fonts/Quicksand-SemiBold.ttf); }
* {
  margin: 0;
  padding: 0 0 0 0; }

body {
  background-color: black;
  padding-bottom: 100px; }

header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding: 0 5px;
  align-items: center; }
  header .logo {
    height: 75px; }
  header ul {
    display: flex;
    align-items: center; }
    header ul li {
      list-style: none;
      margin: 0 5px;
      transition: all 0.5s ease 0s; }
      header ul li img {
        width: 35px; }
    header ul li:hover {
      transform: translateY(7px) scale(1.2); }

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 60px;
  z-index: 100; }
  nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #070707f7;
    align-content: center;
    align-items: center; }
    nav ul li {
      list-style: none;
      transition: all 0.1s ease 0s; }
      nav ul li a {
        display: flex;
        align-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        font-family: quickLight;
        font-size: 22px; }
        nav ul li a img {
          height: 16px;
          margin-right: 5px; }
        nav ul li a .active {
          filter: brightness(0) saturate(100%) invert(5%) sepia(3%) saturate(5674%) hue-rotate(201deg) brightness(95%) contrast(82%); }
      nav ul li a:hover {
        filter: brightness(0) saturate(100%) invert(15%) sepia(97%) saturate(3724%) hue-rotate(295deg) brightness(90%) contrast(114%); }

@media only screen and (max-width: 800px) {
  .displaynone {
    display: none; }

  .navicon {
    height: 25px; } }
.landing {
  z-index: 100;
  display: flex;
  align-items: center; }
  .landing h1 {
    font-family: quickLight;
    color: white;
    font-size: 60px; }
    .landing h1 span {
      color: #BA01AA; }
  .landing article {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 95vw; }
  .landing p {
    margin-top: 10vh;
    font-family: quickLight;
    color: white;
    font-size: 25px;
    padding: 0 20px;
    font-weight: lighter;
    max-width: 700px; }
  .landing button {
    font-family: quickMedium;
    color: #BA01AA;
    font-size: 20px;
    font-weight: bolder;
    background-color: transparent;
    border-color: #694F5D;
    border-radius: 10px;
    border-style: solid;
    border-color: #BA01AA;
    border-width: 3px;
    width: 125px;
    height: 50px;
    margin-top: 10vh;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    z-index: 100; }
  .landing button:hover {
    outline: 0;
    color: black;
    background-color: #BA01AA;
    transform: translateY(-6px); }

.aboutme article {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 100px; }
  .aboutme article .aboutimg {
    width: 400px;
    border-radius: 50%; }
  .aboutme article h1 {
    margin-top: 100px;
    font-family: quickLight;
    font-size: 60px;
    color: white;
    text-align: center;
    font-weight: lighter; }
    .aboutme article h1 span {
      color: #BA01AA; }
  .aboutme article p {
    margin-top: 20px;
    font-family: quickLight;
    font-size: 16px;
    color: white;
    padding: 25px 25px 50px 25px; }
  @media only screen and (min-width: 1200px) {
    .aboutme article h1 {
      margin-top: 50px; }
    .aboutme article p {
      width: 60%; } }

.experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.background {
  display: flex;
  flex-direction: column;
  align-items: center stretch;
  width: 90%;
  justify-content: space-between; }

.titlestyle {
  width: 100%; }

.card {
  background-color: #1f1f24;
  width: 85%;
  border-radius: 2px;
  font-family: quickLight;
  padding: 30px;
  margin: 10px auto; }
  .card .cardtitle {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .card .cardtitle h3 {
      font-size: 25px;
      color: #BA01AA; }
  .card p {
    margin-top: 25px;
    font-size: 16px;
    color: white; }
  .card form {
    display: flex;
    justify-content: center; }
  .card button {
    width: 100%;
    font-family: quickLight;
    color: #BA01AA;
    font-weight: bolder;
    font-size: 18px;
    background-color: transparent;
    border-radius: 10px;
    border-style: solid;
    border-color: #BA01AA;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    z-index: 3;
    -webkit-backface-visibility: hidden; }
  .card button:hover {
    outline: 0;
    color: #1f1f24;
    background-color: #BA01AA;
    transform: translateY(-6px); }

.arrow {
  width: 15px;
  height: 15px;
  border: 2px solid #32557f;
  border-left: 0;
  border-top: 0; }

@media only screen and (min-width: 800px) {
  .card {
    width: 55%; } }
@media only screen and (min-width: 1200px) {
  .background {
    flex-direction: row;
    justify-content: space-around;
    width: 90%; }

  .card {
    width: 27%; } }
.funfacts {
  display: flex;
  flex-direction: column; }
  .funfacts .spotify,
  .funfacts .books {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .funfacts .spotify h4,
    .funfacts .books h4 {
      font-family: quickLight;
      font-size: 18px;
      color: #BA01AA;
      padding: 0 0 10px 0;
      -webkit-transform: translate3D(0, 0, 0); }
    .funfacts .spotify .smallcard,
    .funfacts .books .smallcard {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      margin: 10px 0;
      background-color: #1f1f24;
      border-radius: 5px;
      align-items: center;
      width: 100%;
      -webkit-transform: translate3D(0, 0, 0); }
    .funfacts .spotify p,
    .funfacts .books p {
      color: #b0b2b3;
      font-size: 14px;
      font-family: quickLight; }
    .funfacts .spotify a,
    .funfacts .books a {
      display: flex;
      text-decoration: none;
      width: 60%;
      transition: 0.3s ease; }
    .funfacts .spotify a:hover,
    .funfacts .books a:hover {
      transform: scale(1.1); }
      .funfacts .spotify a:hover img,
      .funfacts .books a:hover img {
        filter: brightness(0) saturate(100%) invert(15%) sepia(97%) saturate(3724%) hue-rotate(295deg) brightness(90%) contrast(114%); }
    @media only screen and (min-width: 800px) {
      .funfacts .spotify .smallcard,
      .funfacts .books .smallcard {
        width: 50%; } }
    @media only screen and (min-width: 1200px) {
      .funfacts .spotify .spotify, .funfacts .spotify .books,
      .funfacts .books .spotify,
      .funfacts .books .books {
        width: 50%; }
      .funfacts .spotify h2,
      .funfacts .books h2 {
        width: 80%; }
      .funfacts .spotify a,
      .funfacts .books a {
        width: 60%; }
      .funfacts .spotify .smallcard,
      .funfacts .books .smallcard {
        width: 100%;
        height: 60px; } }

@media only screen and (min-width: 1200px) {
  .funfacts {
    flex-direction: row-reverse; } }
h2 {
  position: relative;
  display: inline-block;
  width: 95%;
  font-family: quickLight;
  font-size: 40px;
  color: white;
  padding: 50px 0;
  margin-left: 20px;
  margin-right: 0; }

.line {
  display: flex;
  align-items: flex-start;
  text-align: left; }
  .line:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: white;
    min-width: 20px;
    margin: auto;
    padding-left: 15px; }
  .line:after {
    margin-left: 10px; }

.line2 {
  display: flex;
  align-items: flex-start;
  margin-right: 20px; }
  .line2:before {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: white;
    min-width: 20px;
    margin: auto; }
  .line2:before {
    margin-right: 15px; }

.projects h1 {
  margin-top: 100px;
  font-family: quickLight;
  font-size: 60px;
  color: white;
  text-align: center;
  font-weight: lighter; }
  .projects h1 span {
    color: #BA01AA; }
.projects .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  margin: 100px auto; }
.projects .col {
  margin: 16px 16px 8px 16px; }
.projects img {
  border-radius: 10px;
  transition: 0.3s ease; }
.projects .col {
  position: relative; }
.projects .backgroundimg {
  display: block;
  width: 100%;
  height: auto; }
.projects .overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #1f1f24;
  border-radius: 10px; }
  .projects .overlay h3 {
    color: white;
    font-family: quickLight;
    font-size: 20px;
    margin: 100px 0 50px 0; }
  .projects .overlay p {
    font-family: quickLight;
    color: white;
    width: 90%;
    margin-bottom: 25px; }
  .projects .overlay img {
    width: 225px;
    margin-bottom: 25px; }
  .projects .overlay button {
    font-family: quickLight;
    color: #BA01AA;
    font-weight: bolder;
    font-size: 18px;
    background-color: transparent;
    border-radius: 10px;
    border-style: solid;
    border-color: #BA01AA;
    width: 150px;
    height: 30px;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    z-index: 3;
    -webkit-backface-visibility: hidden; }
  .projects .overlay button:hover {
    outline: 0;
    color: #1f1f24;
    background-color: #BA01AA;
    transform: translateY(-6px); }
.projects .col:hover .overlay {
  opacity: 1;
  transform: scale(1.075); }
.projects .col:hover .backgroundimg {
  transform: scale(1.05); }

.banner {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 0;
  margin: 0; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: container1;
<<<<<<< HEAD
  animation-duration: 361S;
=======
  animation-duration: 348S;
>>>>>>> projectpage
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: container2;
<<<<<<< HEAD
  animation-duration: 575s;
=======
  animation-duration: 467s;
>>>>>>> projectpage
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: container3;
<<<<<<< HEAD
  animation-duration: 247s;
=======
  animation-duration: 320s;
>>>>>>> projectpage
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: container4;
<<<<<<< HEAD
  animation-duration: 651s;
=======
  animation-duration: 598s;
>>>>>>> projectpage
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.container5 {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: container5;
<<<<<<< HEAD
  animation-duration: 105s;
=======
  animation-duration: 164s;
>>>>>>> projectpage
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes container1 {
  0% {
<<<<<<< HEAD
    transform: translate(-30vw, 10vh) rotate(55deg); }
  20% {
    transform: translate(20vw, 40vh) rotate(445deg); }
  45% {
    transform: translate(-20vw, 20vh) rotate(787deg); }
  70% {
    transform: translate(-40vw, 40vh) rotate(466deg); }
  100% {
    transform: translate(30vw, 10vh) rotate(394deg); } }
@keyframes container2 {
  0% {
    transform: translate(35vw, 25vh) rotate(394deg); }
  25% {
    transform: translate(20vw, 10vh) rotate(466deg); }
  50% {
    transform: translate(10vw, 35vh) rotate(787deg); }
  75% {
    transform: translate(-10vw, 50vh) rotate(445deg); }
  100% {
    transform: translate(20vw, 20vh) rotate(55deg); } }
@keyframes container3 {
  0% {
    transform: translate(40vw, 70vh) rotate(787deg); }
  30% {
    transform: translate(50vw, 60vh) rotate(787deg); }
  55% {
    transform: translate(20vw, 80vh) rotate(466deg); }
  80% {
    transform: translate(30vw, 65vh) rotate(445deg); }
  100% {
    transform: translate(10vw, 50vh) rotate(394deg); } }
@keyframes container4 {
  0% {
    transform: translate(-40vw, 90vh) rotate(445deg); }
  25% {
    transform: translate(-30vw, 60vh) rotate(466deg); }
  50% {
    transform: translate(-20vw, 40vh) rotate(466deg); }
  75% {
    transform: translate(-25vw, 30vh) rotate(55deg); }
  100% {
    transform: translate(-10vw, 90vh) rotate(787deg); } }
@keyframes container5 {
  0% {
    transform: translate(-20vw, 40vh) rotate(466deg); }
  25% {
    transform: translate(-40vw, 50vh) rotate(55deg); }
  50% {
    transform: translate(-10vw, 80vh) rotate(445deg); }
  75% {
    transform: translate(-30vw, 60vh) rotate(787deg); }
  100% {
    transform: translate(-10vw, 10vh) rotate(466deg); } }
=======
    transform: translate(-30vw, 10vh) rotate(176deg); }
  20% {
    transform: translate(20vw, 40vh) rotate(450deg); }
  45% {
    transform: translate(-20vw, 20vh) rotate(399deg); }
  70% {
    transform: translate(-40vw, 40vh) rotate(467deg); }
  100% {
    transform: translate(30vw, 10vh) rotate(157deg); } }
@keyframes container2 {
  0% {
    transform: translate(35vw, 25vh) rotate(157deg); }
  25% {
    transform: translate(20vw, 10vh) rotate(467deg); }
  50% {
    transform: translate(10vw, 35vh) rotate(399deg); }
  75% {
    transform: translate(-10vw, 50vh) rotate(450deg); }
  100% {
    transform: translate(20vw, 20vh) rotate(176deg); } }
@keyframes container3 {
  0% {
    transform: translate(40vw, 70vh) rotate(399deg); }
  30% {
    transform: translate(50vw, 60vh) rotate(399deg); }
  55% {
    transform: translate(20vw, 80vh) rotate(467deg); }
  80% {
    transform: translate(30vw, 65vh) rotate(450deg); }
  100% {
    transform: translate(10vw, 50vh) rotate(157deg); } }
@keyframes container4 {
  0% {
    transform: translate(-40vw, 90vh) rotate(450deg); }
  25% {
    transform: translate(-30vw, 60vh) rotate(467deg); }
  50% {
    transform: translate(-20vw, 40vh) rotate(467deg); }
  75% {
    transform: translate(-25vw, 30vh) rotate(176deg); }
  100% {
    transform: translate(-10vw, 90vh) rotate(399deg); } }
@keyframes container5 {
  0% {
    transform: translate(-20vw, 40vh) rotate(467deg); }
  25% {
    transform: translate(-40vw, 50vh) rotate(176deg); }
  50% {
    transform: translate(-10vw, 80vh) rotate(450deg); }
  75% {
    transform: translate(-30vw, 60vh) rotate(399deg); }
  100% {
    transform: translate(-10vw, 10vh) rotate(467deg); } }
>>>>>>> projectpage
@keyframes line1 {
  0% {
    transform: translateX(22.5vw); }
  100% {
    transform: translateX(-22.5vw); } }
@keyframes ball1 {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1.8, 1.8); } }
@keyframes ball2 {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1.8, 1.8); } }
.bigline {
  width: 45vw;
  height: 5px;
  background-color: #87878850; }

.circleone {
  width: 10px;
  height: 10px;
  background-color: #878788;
  border-radius: 50%;
  animation-name: ball1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.circletwo {
  width: 10px;
  height: 10px;
  background-color: #878788;
  border-radius: 50%;
  animation-name: ball2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; }

.lineone {
  position: absolute;
  height: 10px;
  width: 5px;
  border-radius: 40px;
  background-color: #878788;
  animation-name: line1;
<<<<<<< HEAD
  animation-duration: 16s;
=======
  animation-duration: 13s;
>>>>>>> projectpage
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.linetwo {
  position: absolute;
  height: 10px;
  width: 5px;
  border-radius: 40px;
  background-color: #878788;
  animation-name: line1;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; }

.linethree {
  position: absolute;
  height: 10px;
  width: 5px;
  border-radius: 40px;
  background-color: #878788;
  animation-name: line1;
<<<<<<< HEAD
  animation-duration: 14s;
=======
  animation-duration: 15s;
>>>>>>> projectpage
  animation-iteration-count: infinite;
  animation-direction: alternate; }

/*# sourceMappingURL=styles.css.map */
