@font-face {
  font-family: primaryFont;
  src: url(../fonts/Quicksand.ttf); }
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #1f1f24; }

header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding: 0 5px;
  align-items: center; }
  header .logo {
    height: 75px; }
  header ul {
    display: flex;
    align-items: center; }
    header ul li {
      list-style: none;
      margin: 0 5px;
      transition: all 0.5s ease 0s; }
      header ul li img {
        width: 35px; }
    header ul li:hover {
      transform: translateY(7px) scale(1.2); }

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 70px; }
  nav ul {
    display: flex;
    justify-content: space-around;
    width: 99%;
    background-color: #2f2f37;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 20px; }
    nav ul li {
      list-style: none;
      transition: all 0.1s ease 0s; }
      nav ul li a {
        display: flex;
        align-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        font-family: primaryFont;
        font-size: 20px;
        transition: all 0.3s ease 0s; }
        nav ul li a img {
          height: 18px;
          margin-right: 5px; }
      nav ul li a:hover {
        filter: brightness(0) saturate(100%) invert(20%) sepia(67%) saturate(839%) hue-rotate(250deg) brightness(89%) contrast(95%); }

@media only screen and (max-width: 800px) {
  .displaynone {
    display: none; }

  .navicon {
    height: 30px; } }
.landing {
  z-index: 100;
  display: flex;
  align-items: center; }
  .landing article {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 95vw; }
  .landing h2 {
    text-align: center;
    width: 100%;
    font-family: primaryFont;
    color: white;
    font-size: 35px;
    font-weight: lighter; }
  .landing p {
    margin-top: 10vh;
    font-family: primaryFont;
    color: white;
    font-size: 25px;
    padding: 0 20px;
    font-weight: lighter;
    max-width: 700px; }
  .landing button {
    font-family: primaryFont;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #5c2966;
    border-color: #694F5D;
    border-radius: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    border-style: none;
    width: 125px;
    height: 50px;
    margin-top: 10vh;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    z-index: 100; }
  .landing button:hover {
    background-color: white;
    color: #5c2966;
    transform: translateY(-6px); }

.banner {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 0;
  margin: 0; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: container1;
  animation-duration: 393S;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: container2;
  animation-duration: 598s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: container3;
  animation-duration: 321s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: container4;
  animation-duration: 600s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.container5 {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: container5;
  animation-duration: 205s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes container1 {
  0% {
    transform: translate(-30vw, 10vh) rotate(40deg); }
  20% {
    transform: translate(20vw, 40vh) rotate(156deg); }
  45% {
    transform: translate(-20vw, 20vh) rotate(46deg); }
  70% {
    transform: translate(-40vw, 40vh) rotate(332deg); }
  100% {
    transform: translate(30vw, 10vh) rotate(349deg); } }
@keyframes container2 {
  0% {
    transform: translate(35vw, 25vh) rotate(349deg); }
  25% {
    transform: translate(20vw, 10vh) rotate(332deg); }
  50% {
    transform: translate(10vw, 35vh) rotate(46deg); }
  75% {
    transform: translate(-10vw, 50vh) rotate(156deg); }
  100% {
    transform: translate(20vw, 20vh) rotate(40deg); } }
@keyframes container3 {
  0% {
    transform: translate(40vw, 70vh) rotate(46deg); }
  30% {
    transform: translate(50vw, 60vh) rotate(46deg); }
  55% {
    transform: translate(20vw, 80vh) rotate(332deg); }
  80% {
    transform: translate(30vw, 65vh) rotate(156deg); }
  100% {
    transform: translate(10vw, 50vh) rotate(349deg); } }
@keyframes container4 {
  0% {
    transform: translate(-40vw, 90vh) rotate(156deg); }
  25% {
    transform: translate(-30vw, 60vh) rotate(332deg); }
  50% {
    transform: translate(-20vw, 40vh) rotate(332deg); }
  75% {
    transform: translate(-25vw, 30vh) rotate(40deg); }
  100% {
    transform: translate(-10vw, 90vh) rotate(46deg); } }
@keyframes container5 {
  0% {
    transform: translate(-20vw, 40vh) rotate(332deg); }
  25% {
    transform: translate(-40vw, 50vh) rotate(40deg); }
  50% {
    transform: translate(-10vw, 80vh) rotate(156deg); }
  75% {
    transform: translate(-30vw, 60vh) rotate(46deg); }
  100% {
    transform: translate(-10vw, 10vh) rotate(332deg); } }
@keyframes line1 {
  0% {
    transform: translateX(22.5vw); }
  100% {
    transform: translateX(-22.5vw); } }
@keyframes ball1 {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1.8, 1.8); } }
@keyframes ball2 {
  0% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1.8, 1.8); } }
.bigline {
  width: 45vw;
  height: 5px;
  background-color: #8291911a; }

.circleone {
  width: 10px;
  height: 10px;
  background-color: #878788;
  border-radius: 50%;
  animation-name: ball1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.circletwo {
  width: 10px;
  height: 10px;
  background-color: #878788;
  border-radius: 50%;
  animation-name: ball2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; }

.lineone {
  position: absolute;
  height: 10px;
  width: 5px;
  border-radius: 40px;
  background-color: #8787881a;
  animation-name: line1;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.linetwo {
  position: absolute;
  height: 10px;
  width: 5px;
  border-radius: 40px;
  background-color: #8787881a;
  animation-name: line1;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; }

.linethree {
  position: absolute;
  height: 10px;
  width: 5px;
  border-radius: 40px;
  background-color: #8291911a;
  animation-name: line1;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

/*# sourceMappingURL=styles.css.map */
